# Security
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True

# Database Configuration
DB_NAME=pricecom
DB_USER=root 
DB_PASSWORD=root123
DB_HOST=localhost
DB_PORT=3306

## S.
SERPAPI_API_KEY=638b054066201174bace91f0501a993375008aa44b889b97fd6a7f02eb01d4b9

# Email Configuration (If needed later)
# EMAIL_HOST_USER=...
# EMAIL_HOST_PASSWORD=...
